
body {
    background-color: #F1F3F3;
    color: rgb(60, 56, 116);    
}

#logo {
    position: relative;
    left: 352px;
    bottom: 5px;
    width: 223px;
    height: 69px;
}

.navbar {
    position: relative;
    min-height: 70px;
}

.navbar-default {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-color: rgb(255, 255, 255); 
}


.navbar-brand {
    background-color: rgb(255, 255, 255);  
    height: 60px;
    padding: 5px 0px;
    border-color: rgb(255, 255, 255);
}

#bubble-chart svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.axis {
	font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}

.hover-line {
    stroke: #777;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

#selections .col-md-4 {
	padding-top: 10px;
	padding-bottom: 10px;
}