
/* ------------------------------
    Nav bar
------------------------------ */

.navbar {
    position: relative;
    min-height: 70px;
    padding-top: 10px;
}

.navbar-default {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255); 
}


.navbar-brand { 
    position: relative;
    left: 40%;
    bottom: 5px;
    width: 223px;
    height: 90px;
    padding: 5px 0px;
}

#logo {
    width: 100%;
    height: 100%;
}


/* ------------------------------
    Body
------------------------------ */

body {
    background-color: rgb(17,161,203);
    color:  rgb(255, 255, 255);
}

/* ------------------------------
    Button
------------------------------ */

.instructions-button {
    background-color: #303131;
    color: white;
    border: 2px solid #303131;
    border-radius: 6px;
    margin-bottom: 35px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    font-weight: 500;
    padding: 4px 40px;
    float: right;
    margin-right: 20px;
}

#instructions-fade {
    display: none;
    color: black;
    background-color: rgb(17,161,203);
    margin-bottom: 30px;
    padding: 10px 20px;
    text-align: justify;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 22px;
    float: left;
}

/* ------------------------------
    Charts
------------------------------ */

.axis {
	font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}

.hover-line {
    stroke: #777;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

#selections .col-md-4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

#left-charts {
    background-color: rgb(17,161,203);
    padding-top: 5px;
}

#right-charts {
    background-color: rgb(17,161,203);
    margin-top: 5px;
}

.timeline-label {
    font-size: 15px;
    padding-left: 20px;
}

#units-sold {
    margin-top: 5px;
}

#revenue {
    margin-top: 5px;
}

#call-duration {
    margin-top: 5px;
}

/* ------------------------------
    Footer
------------------------------ */

.contact-details {
    margin-left: 45px;
}

.contact {
    font-size: 15px;
}
